:root {
  --sidebar-colour: #80a1c1;
  --body-colour: #d9cfc1;
  --button-colour: #ba3f1d;
}


* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Roboto, sans;
}
body * {
}

.container {
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-rows: 1fr 6fr;
}

.sidebar {
	grid-column: 1;
	grid-row: 1 / 3;
	background: var(--sidebar-colour);
  max-height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8em;
}
.side-items {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(9, 1.8em);
  grid-auto-flow: dense;
}

.side-items > .fa-solid {
  grid-column: 1;
  align-content: center;
  float: left;
}

.side-items > .dirname {
  align-content: center;
  grid-column: 2;
}

.sidebar > .side-header {
	font-weight: 800;
	font-size: 0.9em;
}

.side-items > .icons:nth-child(6),
.side-items > .dirname:nth-child(6) {
	margin-bottom: 2em;
}

.header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr;
	grid-column: 2;
	grid-row: 1;
	align-items: center;

  padding-left: 15px;
  padding-right: 15px;

  max-height: 100%;
}
.header > .search {
	grid-row: 1;	
	display: grid;
  align-items: center;

	grid-template-columns: minmax(0, 8fr) 1fr 1fr 1fr;
}

.search-bar{ 
  min-height: 0;
  min-width: 0;
  align-self: center; 
  grid-column: 1;
}
.search-bar i {
  padding: 12px;
}
.search-bar > input {
  border-radius: 15px;
  padding: 2px;
  padding-left: 9px;
  height: 20px;
  width: 80ch;
  background: #ddd;
  color: black;
  border: 2px solid #333;
}

.search > .notifs,
.search > .pfp,
.search > .name {
  font: 1rem monospace;
  font-style: oblique;
  align-content: center;
  align-items: center;
  text-align: center;
}
.search > .pfp img {
  height: 40px;
  max-height: 64px;
}


.menu-container > .pfp img {
  padding-right: 10px;
  height: 90px;
  max-height: 100px;
}

.menu {
	grid-row: 2;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
}

.menu-container {
	display: grid;
	grid-template-columns: 1fr 3fr; 
	grid-template-rows: 1fr 4fr;
  max-height: 150px;
}

.menu-container > .pfp {
  align-self: center;
	grid-column: 1;
	grid-row: 1 / 3;
}

.menu-container > .welcome {
	grid-column: 2;
	grid-row: 1;
	font-size: 0.8rem;
}

.menu-container > .name {
	grid-column: 2;
	grid-row: 2;
	font-size: 1.5rem;
	font-weight: 800;
}

.menu > .buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;gap:30px;
}

.buttons > button {
	font-size: 1.5em;
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	border-radius: 20px;
	margin: 20px;
	width: 125px;

  border: 2px solid #333;

  box-shadow: 0 8px 6px -8px black;
}

.buttons > .new {
	grid-column: 3;
}


.buttons > .upload {
	grid-column: 4;
}

.buttons > .share {
	grid-column: 5;
}
.body {

	grid-column: 2;
	grid-row: 2/3;

	display: grid;
	grid-template-columns: 4fr 1fr;
  background: var(--body-colour);
}

.projects {
	grid-column: 1;
  height: 100%;
}

.projects > .project {
	margin: 10px;
	gap: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.projects h3 {
  font-size: 3em;
  padding: 10px;
  font-weight: 300;
  font-family: Serif;
  font-style: oblique;
}

.content {
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2fr 3fr 1fr;
  border-radius: 40px;
  background: white;
  box-shadow: 0 8px 6px -6px black;
}

.content > .title {
	font-size: 2.5em;
}

.content > .desc{
	font-size: 1.2em;
}

.content > .footer {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer > div {
  padding-left: 5px;
  padding-right: 5px;
}

.widgets {
	grid-column: 2;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}
.widgets > .widget-title {
	font-size: 0.9rem;
}

.widgets > .announcements {
	grid-row: 1;
	align-self: center;
}


.widget-container > div:not(:last-child){
    border-bottom: dashed 1px #000;
}


.trending-container > div:not(:last-child){
    border-bottom: dashed 1px #000;
}

.widget-container {
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
	background-color: lightgreen;
}
.announce-header {
	font-size: 1.1rem;
}
.announce-header + p {
	font-size: 0.8rem;
}

.widgets > .trending {
	grid-row: 2;
	align-self: start;
  
}

.trending-container{
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
	background-color: lightgreen;
}
